@model AgroVisitWeb.Models.ClienteViewModel

@{
    ViewData["Title"] = "Cadastrar Clientes";
}

<div class="container p-5">
    <h1>Cadastrar Cliente</h1>
    <div>
        <a class="btn btn-success borda-concluir offset-11" id="border" asp-action="Index">Voltar</a>
    </div><hr />
    <div class="col-md-7">
        <form asp-action="Create" id="border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-10 m-2">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control border border-success" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-9 m-2">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control border border-success" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group col-6 m-2">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control border border-success" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group col-7 m-2">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control border border-success" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6 m-2">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" class="form-control border border-success" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
                <div class="form-group col-3 m-2">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control border border-success" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6 m-2">
                    <label asp-for="Rua" class="control-label"></label>
                    <input asp-for="Rua" class="form-control border border-success" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>
                <div class="form-group col-4 m-2">
                    <label asp-for="NumeroCasa" class="control-label"></label>
                    <input asp-for="NumeroCasa" class="form-control border border-success" />
                    <span asp-validation-for="NumeroCasa" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-4 m-2">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control border border-success" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group col-3 m-2">
                <label asp-for="IdEngenheiroAgronomo" class="control-label"></label>
                <input asp-for="IdEngenheiroAgronomo" class="form-control border border-success" />
                <span asp-validation-for="IdEngenheiroAgronomo" class="text-danger"></span>
            </div>
            <div id="border" class="container">
                <input type="submit" value="Concluir" class="btn btn-success borda-concluir offset-8" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
