@model AgroVisitWeb.Models.ClienteViewModel

@{
    ViewData["Title"] = "Editar Cliente";
}

<div class="container pt-5">
    <div class="row">
        <h1>Editar Cliente</h1>
        <div style="position: relative;">
            <a asp-action="Index" title="Voltar para clientes cadastrados"
               class="btn rounded-circle shadow-lg d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px; background-color: #76B375; border: none;
                  position: absolute; top: -60px; right: 30px;"
               aria-label="Fechar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 6L18 18M6 18L18 6" stroke="white" stroke-width="2.5" stroke-linecap="round" />
                </svg>
            </a>
        </div>
    </div>

    <form asp-action="Edit" id="border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Campos de Identificação -->
        <h4 class="py-3">Dados do cliente</h4>
        <div class="row">
            <div class="form-group col-8 m-2">
                <label asp-for="Nome" class="control-label">Nome<span class="text-danger">*</span></label>
                <input asp-for="Nome" class="form-control border border-success" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-4 m-2">
                <label asp-for="Cpf" class="control-label">CPF<span class="text-danger">*</span></label>
                <input asp-for="Cpf" id="cpf" class="form-control border border-success" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3 m-2">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control border border-success" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group col-4 m-2">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" id="telefone" class="form-control border border-success" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>

        <br />

        <!-- Campos de Endereço -->
        <h4 class="py-3">Endereço</h4>
        <div class="row">
            <div class="form-group col-7 m-2">
                <label asp-for="Cidade" class="control-label">Cidade<span class="text-danger">*</span></label>
                <input asp-for="Cidade" class="form-control border border-success" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group col-6 m-2">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control border border-success" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group col-3 m-2">
                <label asp-for="Estado" class="control-label">Estado<span class="text-danger">*</span></label>
                <input asp-for="Estado" class="form-control border border-success" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6 m-2">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control border border-success" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group col-4 m-2">
                <label asp-for="NumeroCasa" class="control-label"></label>
                <input asp-for="NumeroCasa" class="form-control border border-success" />
                <span asp-validation-for="NumeroCasa" class="text-danger"></span>
            </div>
        </div>

        <!-- Campo de Engenheiro Agrônomo -->
        <div class="form-group col-3 m-2">
            <label asp-for="IdEngenheiroAgronomo" class="control-label"></label>
            <input asp-for="IdEngenheiroAgronomo" class="form-control border border-success" />
            <span asp-validation-for="IdEngenheiroAgronomo" class="text-danger"></span>
        </div>

        <div class="container text-end">
            <input type="submit" value="Concluir" class="btn btn-success borda-concluir" />
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/validation.js"></script>
}