@page
@model ForgotPasswordConfirmation

@{
    ViewData["Title"] = "Esqueci a senha";
}

<div class="container p-5 text-center col-7">
    <h1>@ViewData["Title"]</h1>
    <p>
        Porfavor, confira o seu Email para alterar sua senha.
    </p>
</div>