@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta conta foi bloqueada, porfavor tente mais tarde.</p>
</header>
