@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Confirmação de Cadastro";
}


<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
</p>
    }
    else
    {
<p>
        Por favor, cheque o seu email.
</p>
    }
}

