@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Resetar senha";
}

<div class="container p-5 text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>Resete sua senha.</h2>
    <hr />
    <div class="row">
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating">
                    <input id="border" asp-for="Input.Email" class="col-m-6 btn btn-lg btn-primary borda-concluir" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div><br />
                <div class="form-floating">
                    <input id="border" asp-for="Input.Password" class="col-m-6 btn btn-lg btn-primary borda-concluir" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div><br />
                <div class="form-floating">
                    <input id="border" asp-for="Input.ConfirmPassword" class="col-m-6 btn btn-lg btn-primary borda-concluir" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div><br />
                <button type="submit" class="w-100 btn btn-lg btn-primary">Resetar</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
