@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de alteração de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi alterada. Porfavor <a asp-page="./Login">clique aqui para entrar</a>.
</p>
