/Codigo/AgroVisit/Core/bin
/Codigo/AgroVisit/Core/obj
/Codigo/AgroVisit/Service/bin
/Codigo/AgroVisit/Service/obj
/Codigo/AgroVisit/AgroVisitWeb/bin
/Codigo/AgroVisit/AgroVisitWeb/obj
/Codigo/AgroVisit/.vs
