@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Todos os direitos reservados para Universidade Federal de Sergipe, campus Itabaiana, e aos alunos Eduardo Santos Santana Bispo e Thalyta Costa dos Santos.</p>
