@model AgroVisitWeb.Models.VisitaViewModel

@{
    ViewData["Title"] = "Agendar visita";
}
<div class="container pt-5">
    <div class="row">
        <h1>Agendar Visita</h1>
        <div style="position: relative;">
            <a asp-action="Index" title="Voltar para visitas cadastradas"
               class="btn rounded-circle shadow-lg d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px; background-color: #76B375; border: none;
                  position: absolute; top: -60px; right: 30px;"
               aria-label="Fechar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 6L18 18M6 18L18 6" stroke="white" stroke-width="2.5" stroke-linecap="round" />
                </svg>
            </a>
        </div>
    </div>
    
    <form asp-action="Create" id="border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6 m-2">
            <label asp-for="IdPropriedade" class="control-label"></label>
            <select asp-for="IdPropriedade" asp-items="@Model.ListaPropriedades" class="form-control border border-success"></select>
            <span asp-validation-for="IdPropriedade" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" class="form-control" />
        </div>
        <div class="row">
            <div class="form-group col-md-6 m-2">
                <label asp-for="DataHora" class="control-label">Data e horário<span class="text-danger">*</span></label>
                <input asp-for="DataHora" class="form-control border border-success" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 m-2">
                <label asp-for="Status" class="control-label">Status<span class="text-danger">*</span></label>
                <input asp-for="Status" class="form-control border border-success" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-10 m-2">
            <label asp-for="Observacoes" class="control-label"></label>
            <textarea asp-for="Observacoes" class="form-control border border-success" rows="4"></textarea>
            <span asp-validation-for="Observacoes" class="text-danger"></span>
        </div>
        <div  class="form-group row m-3">
            
            <div class="col-md-2 offset-9">
                <input type="submit" class="btn btn-success borda-concluir" value="Concluir">
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
