@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container p-5 text-center">
    <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div>
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input id="border" asp-for="Username" class="form-control border border-success" disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div><br />
                <div class="form-floating">
                    <input id="border" asp-for="Input.PhoneNumber" class="form-control border border-success" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div><br />
                <button id="border" type="submit" class="col-m-6 btn btn-lg btn-primary borda-concluir">Salvar</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
