@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container p-5 text-center">
    <h3>@ViewData["Title"]</h3>

    <div class="row">
        <div>
            <p>Sua conta contém Dados Pessoas que você nos deu. Essa página permite que você baixe ou delete seus dados</p>
            <p>
                <strong>Apagar esses dados irá permanentemente excluir sua conta, isso não poderá ser desfeito.</strong>
            </p>
            <form asp-page="DownloadPersonalData" method="post">
                <button id="border" class="col-m-6 btn btn-lg btn-primary borda-concluir">Baixar</button>
            </form>
            <p>
                <a id="border" asp-page="DeletePersonalData" class="col-m-6 btn btn-lg btn-primary btn-danger border-danger">Deletar</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
