@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel

@{
    ViewData["Title"] = "Autenticação de Dois Fatores (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="container p-5 text-center">
    <partial name="_StatusMessage" for="StatusMessage" />
    <h3>@ViewData["Title"]</h3><br />
    @{
        var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
        @if (consentFeature?.CanTrack ?? true)
        {
            @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                    <div class="alert alert-danger">
                        <strong>Você não tem códigos de recuperação restantes.</strong>
                        <p>You must <a asp-page="./GenerateRecoveryCodes">Gerar novos códigos de recuperação</a> antes que você possa se autenticar com uma chave de recuperação.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft == 1)
                {
                    <div class="alert alert-danger">
                        <strong>Você tem 1 código de recuperação restante.</strong>
                        <p>You can <a asp-page="./GenerateRecoveryCodes">Gerar novos códigos de recuperação</a>.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft <= 3)
                {
                    <div class="alert alert-warning">
                        <strong>Você tem @Model.RecoveryCodesLeft códigos de recuperação restates.</strong>
                        <p>You should <a asp-page="./GenerateRecoveryCodes">Gerar novos códigos de recuperação</a>.</p>
                    </div>
                }

                if (Model.IsMachineRemembered)
                {
                    <form method="post" style="display: inline-block">
                        <button type="submit" class="btn btn-primary">Esquecer esse navegador</button>
                    </form>
                }
                <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
                <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetar códigos de recuperação</a>
            }

            <h4>Aplicações de Autenticação</h4>
            @if (!Model.HasAuthenticator)
            {
                <a id="border" asp-page="./EnableAuthenticator" class="col-m-6 btn btn-lg btn-primary borda-concluir">Adicionar App de Autenticação</a>
            }
            else
            {
                <a id="border" asp-page="./EnableAuthenticator" class="col-m-6 btn btn-lg btn-primary borda-concluir">Configurar App de Autenticação</a>
                <a id="border" asp-page="./ResetAuthenticator" class="col-m-6 btn btn-lg btn-primary borda-concluir">Resetar App de Autenticação</a>
            }
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Privacy and cookie policy have not been accepted.</strong>
                <p>You must accept the policy before you can enable two factor authentication.</p>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
