@model AgroVisitWeb.Models.ProjetoViewModel

@{
    ViewData["Title"] = "Editar projeto";
}

<div class="container pt-5">
    <div class="row">
        <h1>Editar projeto</h1>
    </div>
    <div class="text-end" style="bottom: 60px;  position:relative">
        <a asp-action="Index">
            <svg position-sticky" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 58 58" fill="none">
                <g filter="url(#filter0_d_370_6135)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 25C4 11.1929 15.1929 0 29 0C42.8071 0 54 11.1929 54 25C54 38.8071 42.8071 50 29 50C15.1929 50 4 38.8071 4 25ZM37.4252 16.5748C38.3128 17.4623 38.3128 18.9013 37.4252 19.7889L32.2141 25L37.4252 30.2111C38.3128 31.0987 38.3128 32.5377 37.4252 33.4252C36.5377 34.3128 35.0987 34.3128 34.2111 33.4252L29 28.2141L23.7889 33.4252C22.9013 34.3128 21.4623 34.3128 20.5748 33.4252C19.6872 32.5377 19.6872 31.0987 20.5748 30.2111L25.7859 25L20.5748 19.7889C19.6872 18.9013 19.6872 17.4623 20.5748 16.5748C21.4623 15.6872 22.9013 15.6872 23.7889 16.5748L29 21.7859L34.2111 16.5748C35.0987 15.6872 36.5377 15.6872 37.4252 16.5748Z" fill="#76B375" />
                </g>
                <defs>
                    <filter id="filter0_d_370_6135" x="0" y="0" width="58" height="58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_370_6135" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_370_6135" result="shape" />
                    </filter>
                </defs>
            </svg>
        </a>
    </div>
    <form asp-action="Edit" id="border">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group col-md-3 m-0">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control border border-success" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2 m-0">
                <label asp-for="NumeroVisita" class="control-label"></label>
                <input asp-for="NumeroVisita" class="form-control border border-success" />
                <span asp-validation-for="NumeroVisita" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2 m-0">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control border border-success" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-4 m-0">
            <label asp-for="IdPropriedade" class="control-label"></label>
            <select asp-for="IdPropriedade" asp-items="@Model.ListaPropriedades" class="form-control border border-success"></select>
            <span asp-validation-for="IdPropriedade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 m-0">
            <label asp-for="DataInicio" class="control-label"></label>
            <input asp-for="DataInicio" class="form-control border border-success" />
            <span asp-validation-for="DataInicio" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2 m-0">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control border border-success" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="form-group col-2 m-0">
            <label asp-for="QuantParcela" class="control-label"></label>
            <input asp-for="QuantParcela" class="form-control border border-success" />
            <span asp-validation-for="QuantParcela" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2 m-0">
            <label asp-for="DataPrevista" class="control-label"></label>
            <input asp-for="DataPrevista" class="form-control border border-success" />
            <span asp-validation-for="DataPrevista" class="text-danger"></span>
        </div>
        <div class="form-group col-md-10">
            <label asp-for="Descricao" class="control-label"></label>
            <textarea asp-for="Descricao" class="form-control border border-success"> </textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2 m-0">
            <label asp-for="Anexo" class="control-label"></label>
            <input type="file" name="fileUpload" id="fileUpload" class="noborder" />
            <!-- input asp-for="Anexo" class="form-control" /-->
            <!-- span asp-validation-for="Anexo" class="text-danger"></!span-->
        </div>
        <br>
        <div class="form-group row">
            
            
            <div class="container text-end">
                <input type="submit" value="Concluir" class=" btn btn-success borda-concluir" />
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
